.add-to-do {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.add-to-do input {
    background: none;
    border: none;
    border-bottom: #AA8B4C 3px solid;
    width: 25vw;
    padding: 5px;
}

.list-to-do {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-to-do li{
    width: 50%;
    text-decoration: 3px underline #aa8b4c;
    list-style: none;
}

button {
    margin-left: 8px;
    background: none;
    border: none;
    color: #AA8B4C;
    font-size: 1.2em;
}